<!DOCTYPE html>
<%- include("./partials/head.ejs", {title: title}) %>
  <html lang="en">

    <body>
    <%- include("./partials/navBar.ejs") %>
      <h1>Error: 500</h1>
      <p>Server connection error</p>
      <p>Please try again later</p>

  </body>

  </html>


